body {
    background: linear-gradient(45deg, #00853e, #50c878);
}

.app {
    border: 1px solid;
    width: fit-content;
    padding: 20px;
    margin: 200px auto;
    text-align: center;
}

input {
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
}

.weather {
    width: 90%;
    height: 150px;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.ele {
    width: fit-content;
    height: fit-content;
}

h3 {
    line-height: 16px;
    font-size: 20px;
}